body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.banner-portion{
    background-image: url(./images/donation9.jpg);
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  
}
.banner-portion::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.banner-text{
   font-size: 50px;
   color: white;
   text-align: center;
   z-index: 100;
}
.overlay h6{
    font-size: 18px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.d-button{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    background-color: orangered;
    width: 200px;
   padding:  10px;
    margin: auto;
    border-radius: 10px;
}

.amount-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.d-text{
    font-size: 40px;
    font-weight: 700;
}
.amount-section p{
    font-size: 18px;
}
.number{
    display: flex;
    justify-content: center;
}
.hundred{
    
    background-color: #81ecec;
    color: #333;
    border-radius: 5px;
    margin: 0 10px;
    width: 100px;
    
}
.twohundred{
    background-color: #ffeeee;
    color: #ff5959;
    border: 2px solid #ff5959;
}
.other{
    margin-top: 40px;
    margin-bottom: 20px;
}
.other-amount{
    width: 600px;
    border-width: 0 0 1px 0;

}
.other-amount::placeholder{
    text-align: center;
    font-size: 16px;
  
}
.other h6{
    border-bottom: 1px solid gray;
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: 16px;
    color: grey;
}
.d-plan{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.d-common{
    width: 300px;
    height: 300px;
    text-align: left;
}
.d-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
   
}
.d-food{
    background-color: #edf5f6;
    padding-left: 20px;

}
.d-food img{
    margin-top: 50px;

}
.d-shelter{
    background-color: #ffeeee;
    padding-left:20px ;
}
.d-shelter img{
    margin-top: 50px;
}
.d-education{
    background-color: #fff4d6;
    padding-left:20px ;
}
.d-education img{
    margin-top: 50px;
}
.service-text{
    text-align: center;
}
.helping{
    display: flex;
}
.helping img{
    width: 400px;
    height: 400px;
    line-height: 400px;
    border-radius: 50%;
    margin-left: 80px;
}
.helping-text{
    margin-left: 60px;
    width: 53%;
    
}
.helping-text h6{
    text-transform: uppercase;
    color: #ff4500;
}
.service-portion a{
    margin-top: -120px;
}
.service-portion{
    margin-bottom: 200px;
}
.update-portion{
    width: 50%;
    margin: auto;
    text-align: center;
}
.update-portion h1{
 
}
.form-portion {
    width: 97%;
    background-color: #fff4d6;
    height: 100px;
    padding-top: 50px;
    border-radius: 5px;
}
.form-portion .mail-put{
    height: 30px;
    width: 247px;
 
}
.form-portion .sub-btn {
    text-decoration: none;
    display: inline-block;
    background-color: #ff4500;
    padding: 8px 10px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
}